body {
    max-width: 640px;
}
button {
    cursor: pointer;
    margin: 5px 2vw;
}
textarea {
    width: 95%;
    margin-top: 5px;
}
input {
    width: 15%;
    margin: 5px;
}
div {
    margin: 1vw;
}
table {
    display: inline-table;
    border-collapse: collapse;
}
th { 
    color: blue; 
    padding: 1vw; 
}
td { 
    border: 1px solid blue; 
    padding: 5px 3vw; 
}
tr:hover {
    background: #ffc;
    cursor: pointer;
}
tr.active {
    background: #ff6;
}
pre {
    font-size: 14px;
}
.center {
    text-align: center; 
}
.buyuk {
    font-size: 18px;
}
.tip {
    visibility: hidden;
    position: absolute;
    font: 11px arial, sans-serif;
    color: black;
    background: yellow;
    border: 1px solid;
    padding: 5px;
}
button:hover .tip { 
    visibility: visible; 
}
span:hover .tip { 
    visibility: visible; 
}
.diyalog {
    display: none;
    position: absolute;
    left: 10%;
    width: 80%;
    max-width: 340px;
    margin-top: 6px;
    padding: 5px;
    font: 13px arial, sans-serif;
    background: #def;
    box-sizing: border-box;
    border: 3px double black;    
}
.kabul {
    position: absolute;
    top: 0;
    right: 10%;
}
.kapat {
    position: absolute;
    top: 0;
    right: 0;
}

