.column {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  overflow-y: auto;
  width: 100%;
}
@media screen and (min-width: 550px) {
  .column { width: 47%; }
}
iframe.column {
  height: 100vh;
  border: none;
  margin: 0;
}
dom-tree.column  {
  background: honeydew;
  padding: 0 8px;
}
/** hard-coded within JS
#output details {
  max-width: 300px;
  margin: 4px;
  margin-left: 1em;
  border: 3px solid green;
  border-radius: 8px;
}
#output li {
  list-style: none;
  margin: 0;
  margin-left: 1em;
  color: blue;
}
#output summary {
  cursor: pointer;
  color: white;
  background: green;
}
#output {
  color: green;
  line-height: 1.5;
}
*/